# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env

# VS Code / IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.so

# Others
*.sqlite3
instance/
